<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BKBox</title>
	 <!-- Add jQuery library -->
	 <script src="/socket.io/socket.io.js"></script>
    <script src="./my-javascript/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8" ></script>
	<!-- Add mousewheel plugin (this is optional) -->
	<script type="text/javascript" src="./my-javascript/jquery.mousewheel.pack.js?v=3.1.3"></script>
	<link rel="stylesheet" href="./my-css/style.css">
	<!-- file js tự viết -->
	<script type = "text/javascript" src = "./my-javascript/code.js"></script>
	<script type = "text/javascript" src = "./my-javascript/jquery.easing.1.3.js"></script>
	<script src="./my-javascript/process.js"></script>

	<script type="text/javascript" src="vendor/bootstrap.js"></script>
	<link rel="stylesheet" href="vendor/bootstrap.css">

</head>
<body>
	
	
	<nav class="navbar navbar-default" role="navigation" style="font-family: 'Times New Roman', Times, serif; background-color: #f7bdbb; border-color: #f7bdbb; color: #f7bdbb;">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" >ĐỒ ÁN CƠ SỞ NGÀNH MẠNG</a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Login</a></li>
				<li class="dropdown">
					<a href="#" >Help </a>
				
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	
	
	<div class="noidung">
		<!-- <h1 class="tieude">Đồ Án Cơ Sở Ngành Mạng</h1> -->
		<h1 class="tieude">Website Quản Lý Ảnh</h1>
		<!-- <div class="vaicaianh" id='vaicaianh'>
											
		</div> -->
		

		
	</div> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vaicaianh" id='vaicaianh' >
				
			</div>
		</div>
		
	</div>
</body>
</html>